h1 Instructions 
ol 
    li The Account no must be 6 digits long and no other characters than 0-9 should be used
    li The pin of an account should be 4 digits long and no other characters should be used except 0-9 
    li The account number should be unique from others
    a(href="/") Got it