.abtComp {
   
}

.abtComp::after{
    content: "";
    background: linear-gradient(rgba(4, 7, 30, 0.7), rgba(4, 7, 30, 0.7)), url('../public/SSPS-Main.jpeg')no-repeat center/cover;
    height: 70%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
}

.mainhead {
    font-size: 5rem;
    color: #fff;
    font-family: 'Arial Rounded MT';
}

.head {
    margin: 10px 0;
    width: 50%;
    color: white;
    font-size: 1.1rem;
    text-align: center;
}